.title-page {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
    background-color: var(--white);
    color: var(--black);
}